<link rel="stylesheet" type="text/css" href="partials/songListModal.css">

<div id="songlist-container" style="display: none">
    <div id="songlist-modal" class="theme-green">
        <div class="modal-title">
            <h3>Imported Songs</h3>
            <div class="fas fa-times" id="modal-exit-icon"></div>
        </div>
        <div class="modal-body">
            <div class="song-list">

            </div>
        </div>
    </div>
</div>