<link rel="stylesheet" type="text/css" href="partials/songListModal.css">


<div id="songlist-container" hidden>
    <div id="songlist-modal" class="theme-green">
        Song List Modal
        <div class="song-list">
            <div class="song-item">
                {{name}}
            </div>
        </div>
    </div>
</div>