#songlist-container {
    background-color: rgba(0,0,0,0.5);

    height: 100%;
    width: 100%;

    justify-content: center;
    align-items: center;
    position: relative;

    z-index: 999;
}
#songlist-modal{
    width: 200px;
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);


}
#songlist-modal.theme-green {
    background-color: rgb(148, 211, 172);
}