<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">


        <script src="https://kit.fontawesome.com/e449deda05.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="index.css">
        <link rel="stylesheet" type="text/css" href="settings.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/p5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/addons/p5.dom.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/addons/p5.sound.min.js"></script>

        <title>AudioPhile</title>
    </head>
    <body id="body" style="height: 100%">

        {{{body}}}
        <div hidden style="text-align: center; font-size: 50px; height: 100%; display: flex; align-items: center; justify-content: center;" id="mobile-message">
            Sorry! Mobile version is not available at this moment :(
        </div>

        
    </body>

    <!--jquery-->
    <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous">
    </script>
    <!--socket.io-client-->
    <script 
        src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js">
    </script>
    <!--my js files-->
    <script src="../scripts/globals.js"></script>
    <script src="../scripts/index.js"></script>
    <script src="../scripts/sound.js"></script>
    <script src="../scripts/ytmp3.js"></script>
    <script src="../scripts/socketio-controller.js"></script>


</html>