
@keyframes hideSnackbar {
    from {top: 1rem;}
    to {top: -3rem;}
}
@keyframes showSnackbar {
    from {top: -3rem;}
    to {top: 1rem;}
}

html { height: 100%; }

body {
    background-color: #effcef;
    height: 100%;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    overflow: hidden;
}
hr {
    width: 95%;
    opacity: 0.5;
    border-width: 0.5px;
}
#player {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#player .player-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#player .player-controls * {
    margin: 10px;
    padding: 10px;
}

#player .player-controls .skip-track {
    width: 30px;
    height: 30px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}
#player .player-controls #play-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

}
#player .player-controls #play-btn:hover:not(.disabled-action) {
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}
#player .player-controls #next-track:hover:not(.disabled-action) {
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}
#player .player-controls #previous-track:hover:not(.disabled-action) {
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}
.disabled-action {
    opacity: 0.50;
}


#player #song-info {
    text-align: center;
}
#player #song-info #song-name {
    font-size: 2rem;
}
#player #song-info #artist-name {
    font-size: 1rem;
    opacity: 0.75;
}


/* THEMING  */
#body.theme-green {background-color: rgb(239, 252, 239);}
#body.theme-purple {background-color: rgb(244, 230, 255);}
#body.theme-black {background-color: rgb(18, 18, 18);}

.player-controls .theme-green {/*green*/
    background-color: #94d3ac;
    color: #effcef;
}
.player-controls .theme-purple {/*purple*/
    background-color: rgb(124, 100, 143);
    color: rgb(244, 230, 255);
}

.player-controls .theme-black { /*black*/
    background-color: rgb(62, 66, 69);
    color: rgb(217, 217, 217);
}

.btn {
    /*overriding default button styles*/
    border: none;
    text-decoration: none;
    cursor: pointer;
    width: 100%;

    padding: 10px;
    margin: 4px 0 4px 0;
    text-align: center;
}
.btn:hover {
    filter: brightness(1.1);
}

.btn.theme-green {
    background-color: rgb(148, 211, 172);
    color: black;
}
.btn.theme-purple {
    background-color: rgb(124, 100, 143);
    color: whitesmoke;
}
.btn.theme-black {
    background-color: rgb(18, 18, 18);
    color: rgb(217, 217, 217);
}

#song-name.theme-green { /*green*/ color: rgb(148, 211, 172);}
#artist-name.theme-green { color: black;}

#song-name.theme-purple {/*purple*/ color: rgb(124, 100, 143);}
#artist-name.theme-purple { color: black;}

#song-name.theme-black {/*black*/ color: rgb(217, 217, 217);}
#artist-name.theme-black { color: rgb(217, 217, 217);}

/*snackbar*/
.snackbar {
    position: absolute;
    
    top: -3rem;
    width: 50vw;
    left: 25vw;

    border-radius: 100px;
    padding: 10px;

    color: whitesmoke;
    box-shadow: 0 3px 10px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    text-align: center;
    z-index: 1000;
}
.snackbar.snackbar-error {
    background-color: rgba(176, 0, 32, 0.85);
}
.snackbar.snackbar-success {
    background-color: rgba(76, 175, 80, 0.85);
}
.snackbar.snackbar-info {
    background-color: rgba(30,136,229, 0.85);
}
.snackbar.snackbar-show {
    animation: showSnackbar 0.3s forwards;
}
.snackbar.snackbar-hide {
    animation: hideSnackbar 0.3s forwards;
}
